@charset "utf-8";

// ------------ FORM ------------

// フォーム
div.form {
	
	// BASS LAYOUT
	main {
		
		section {
			
			// table
			table {
				
				tr {
					&:last-child th,
					&:last-child td {
						border-bottom: none;
					}

					th,
					td {
						padding: 15px 5px;
						text-align: left;
						vertical-align: top;
						border-bottom: #FFF 1px solid;

						@include mq() {
							border: none;
						}

					}

					th {
						width: 25%;
						background-color: $box;
						font-weight: bold;

						@include mq() {
							width: 100%;
							padding: 10px 0;
						}
						
						p {
							font-weight: bold;
							display: inline-block;
							vertical-align: middle;
							word-break: break-all;
						}
					}

					td {

						@include mq() {
							padding: 10px 0;
						}
					}
				}

				.essential {
					border-radius: 50px;
					background-color: $sub-color;
					color: #fff;
					font-weight: bold;
					padding: 1px 10px;
					font-size: 14px;
					display: block;
					width: 55px;
					white-space: nowrap;
					text-align: center;

					@include mq() {
						display: inline-block;
					}
				}
			}
			
			p {
				// アナウンステキスト
				&.head {
					padding: 20px 0;
					font-weight: bold;
					@extend .wrapper;
				}
				
				&.closing {
					padding: 20px 0 10px 0;
					font-weight: bold;
					text-align: center;
					@extend .wrapper;
				}
			}
			
			// 注釈
			span.arrow {
				font-size: 90%;
				margin: 5px 0;
				font-weight: bold;
				display: inline-block;
				color: #000;
			}

			span.caption {
				color: $main-color;
				font-size: 13px;
				line-height: 1.5;
			}



			.input_image {

				.image_box {
					width: 48%;
					display: inline-block;

					@include mq() {
						width: 100%;
						display: block;
					}
				}
				img {
					text-align: center;
					width: auto;
					height: auto;
					max-width: 240px;
					max-height: 240px;
					object-fit: contain;
					margin-bottom: 10px;

					@include mq() {
						width: 100%;
						height: auto;
						max-width: inherit;
						max-height: 300px;
					}
				}
				&--mtop{
					margin-top: 30px;
				}
			}

			// ボタンを並べる
			ul.transmission {
				width: auto;
				text-align: center;
				margin: 0 auto 30px auto;
				display: table;
				
				@include mq(sp) {
					width: 95%;
					display: inherit;
				}

				li {
					display: table-cell;
					padding: 2px 5px;

					@include mq(sp) {
						display: block;
					}
				}
			}

			// 項目を分割
			ul.break {
				width: 100%;
				display: table;

				@include mq(sp) {
					display: inherit;
				}

				li {
					display: table-cell;
					padding: 0 5px;

					&:nth-child(1) {
						padding: 0 5px 0 0;

						@include mq(sp) {
							padding: 0;
						}
					}

					&:last-child {
						padding: 0 0 0 5px;

						@include mq(sp) {
							padding: 0;
						}
					}

					@include mq(sp) {
						display: inherit;
						padding: 0;
					}
				}
			}

			// 項目を並べる
			ul.variable {
				width: 100%;

				li {
					display: inline-block;
					padding: 0 5px;

					&:last-child {
						padding: 0 0 0 5px;

						@include mq(sp) {
							padding: 0;
						}
					}

					&:nth-child(1) {
						padding: 0 5px 0 0;

						@include mq(sp) {
							padding: 0;
						}
					}

					@include mq(sp) {
						display: inherit;
						padding: 0;
					}

					input {
						width: auto;
						margin: 5px 10px 5px 0;
					}
				}
			}

			// チェックリストを並べる
			ul.check_list {
				width: 100%;

				@include mq() {
					display: flex;
				}

				li {
					width: 50%;
					float: left;
					padding: 5px 0;

					@media only screen and (max-width:1000px){
						float: none;
					}
				}
			}
			
			// 郵便番号
			ul.number {
				display: table;

				li {
					display: table-cell;

					&:nth-child(1) {

						input {
							width: 5em;
						}
					}

					&:nth-child(2) {
						input {
							width: 7em;
						}
					}
					
					p {
						display: inline-block;
					}

					span {
						padding: 0 10px;
					}
				}
			}


			// 電話番号
			ul.phone {
				display: table;
				table-layout: auto;

				li {
					display: table-cell;

					&:nth-child(1) {

						input {
							width: 5em;
						}
					}

					&:nth-child(2) {
						input {
							width: 6em;
						}
					}

					&:nth-child(3) {
						input {
							width: 6em;
						}
					}
					
					p {
						display: inline-block;
					}

					span {
						padding: 0 10px;
					}
				}
			}

			// 完了画面のアナウンス
			div.comp_box {
				padding: 50px 0;
				@extend .wrapper;

				@include mq(sp) {
					padding: 30px 0;
				}

				h2 {
					font-weight: bold;
					padding: 30px 0;
					text-align: center;
				}

				p {
					margin-bottom: 10px;
				}
			}
		}
		// INPUT EMPLOYEE INTRODUCTION
			div.employee_introduction{
				padding: 5px 0;
				.employee_box{
					width: 48%;
					display: inline-block;
					border: #ccc 1px solid;
					padding: 0 20px 5px;
					@include mq() {
						width: 100%;
						display: block;
						margin-bottom: 10px;
					}
				}
				.m_right{
					margin-right: 15px;
				}
				p{
					margin-top: 10px;
				}
				img{
					text-align: center;
					width: auto;
					height: auto;
					width: 100%;
					max-width: 240px;
					max-height: 240px;
					object-fit: contain;
					margin: 0px 0 10px;
					@include mq() {
						width: 100%;
						height: auto;
						max-width: inherit;
						max-height: 300px;
					}
				}
				input, textarea{
					width: 100%;					
				}
			}
		// フローセクションバー
		div.flow_nav {
			width: 100%;
			max-width: 1000px;
			margin: 10px auto;
			background-color: $box;

			ul {
				overflow: hidden;

				li {
					float: left;
					position: relative;
					width: 33.333%;
					padding: 10px 0;
					text-align: center;
					background-color: $box;
					
					&:before {
						bottom: 0;
						content: "";
						height: 40px;
						margin: auto;
						position: absolute;
						right: -15px;
						top: 0;
						-webkit-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						transform: rotate(-45deg);
						width: 40px;
						background-color: $box;
						z-index: 1;
					}

					&:last-child:before {
						content: none;
					}

					span {
						position:relative;
						z-index:100;
						padding: 0 0 0 15px;
						font-weight: bold;
						@extend .font_size_14;
					}
				}
				
				&.front {
					
					li {
						
						&:nth-child(1) {
							background-color: $main-color;
							color: #fff;
							font-weight: bold;

							&:before{
								content: "";
								margin: auto;
								position: absolute;
								right: -20px;
								background-color: $main-color;
								border-bottom: none;
								border-right: none;
							}
						}
						
						&:nth-child(2) {
							&:before {
								border-bottom: $border-color 1px solid;
								border-right: $border-color 1px solid;
							}
						}
					}
				}
				
				&.confirm {
					
					li {
						
						&:nth-child(2) {
							background-color: $main-color;
							color: #fff;
							font-weight: bold;

							&:before{
								content: "";
								margin: auto;
								position: absolute;
								right: -20px;
								background-color: $main-color;
								border-bottom: none;
								border-right: none;
							}
						}
					}
				}
				
				&.complete {
					
					li {
						
						&:nth-child(3) {
							background-color: $main-color;
							color: #fff;
							font-weight: bold;

							&:before{
								content: "";
								margin: auto;
								position: absolute;
								right: -20px;
								background-color: $main-color;
								border-bottom: none;
								border-right: none;
							}
						}
						
						&:nth-child(1) {
							&:before {
								border-bottom: $border-color 1px solid;
								border-right: $border-color 1px solid;
							}
						}
					}
				}
			}
		}
		
		// プライバシーポリシーに同意
		div.agree_box {
			width: 100%;
			margin: 30px auto;
			text-align: center;
			padding: 30px 0;
			//background-color: $bg-color;
			border-top: $border-color 1px solid;
			border-bottom: $border-color 1px solid;
			
			@include mq(sp) {
				margin: 0 auto;
			}
			
			@include mq(sp) {
				padding: 15px 0 5px 0;	
			}
			
			p {
				width: 85%;
				max-width: 600px;
				text-align: left;
				margin: auto;
			}
				
			a {
				padding: 10px 50px;
				margin: 20px 0;
				display: inline-block;
				font-weight: bold;
				border: $border-color 1px solid;
				@include radius(5);
				
				span {
					background-position: right center;
					background-image: url(../img/common/arrow/arrow_right_c.svg);
					background-size: 20px 20px;
					padding: 0 25px 0 0;
				}
			}
			
			// チェックリストを並べる
			ul.check_list {
				width: 100%;
				max-width: 600px;
				margin: auto;

				li {
					width: auto;
					float: none;
					display: inline-block;
					
					@media only screen and (max-width:1000px){
						border-bottom: none;
					}
				}
			}
			
			h3 {
				width: 100%;
				max-width: 600px;
				margin: 20px auto 0 auto;
				padding: 20px 0 0 0;
				border-top: $border-color 1px solid;
				font-weight: bold;
				@extend .font_size_18;
			}
			
			// エラーエリア
			ul.error_access {
				padding: 0;
				max-width: 600px;
				margin: 5px auto 0 auto;
			}
		}
	}
}


// エラーエリア
div.error_area {
	margin: auto;
	padding: 10px 0 0 0;
	@extend .wrapper;
}

ul.error_list {
	width: 90%;
	margin: 0 auto 10px auto;
	padding: 5px 0;
	@extend .wrapper;

	li {
		display: block;
		padding: 5px 10px;
		font-weight: bold;
		color: #e72c3e;
		border: #e72c3e 2px solid;
		margin: 5px auto;
		text-align: center;
		@include radius(5);
	}
}

div.err_area,
div.error_access {
	margin: 5px auto;
	padding: 5px 0;
	display: block;

	p {
		display: block;
		padding: 5px 10px;
		font-weight: bold;
		color: #e72c3e;
		border: #e72c3e 1px solid;
		margin: 5px auto;
		text-align: center !important;
		@extend .font_size_12;
		@include radius(5);
	}
}

ul.error_access {
	width: 90%;
	margin: 5px auto;
	padding: 15px 0;
	display: block;

	li {
		display: block;
		padding: 5px 10px;
		font-weight: bold;
		color: #e72c3e;
		border: #e72c3e 1px solid;
		margin: 5px auto;
		text-align: center;
		@extend .font_size_12;
		@include radius(5);
	}
}


p#fm_ajax_message {
	font-weight: 700;
	color: $main-color;
	letter-spacing: 1px;
	@extend .font_size_14;
}